@font-face {
    font-family: RedOctober;
    src: url(RedOctober.ttf);
}
body {
    margin-left: 220px;
    margin-right: 220px;
    text-align: left;
}
p {
    font-family: Arial, sans-serif; color: #FFFFFF;
}
h1 {
    font-family: RedOctober; color: #FFFFFF;
}
hr {
    color: #FFFFFF;
}
a {
    color: white; font-family: Arial;
}
a:hover {
    color: white; font-family: Arial;
}
a:active {
    color: white; font-family: Arial;
}
a.visited {
    color: white; font-family: Arial;
}
