@font-face {
    font-family: RedOctober;
    src: url(RedOctober.ttf);
}
body {
    margin-left: 20px;
    text-align: left;
}
p {
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}
h1 {
    font-family: RedOctober;
    color: #FFFFFF;
}
