body {
    text-align: center;
}
@font-face {
    font-family: RedOctober;
    src: url(RedOctober.ttf);
}
p {
    font-family: Arial, sans-serif;
    color: black;
}
h1 {
    font-family: RedOctober;
    color: black;
}
